[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/earcut.hpp"]
	path = 3rdparty/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
